# H1: Data Science Tools and Ecosystem

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Examples of arithmetic expressions in Python

In [ ]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Scikit-Learn
4. NumPy

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TesnorFlow |

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

# H2: Author
Ertan Taskin